fastapi
uvicorn[standard]
sqlalchemy==2.0.44
pydantic==2.12.5
email-validator==2.3.0
psycopg2-binary==2.9.11
boto3==1.35.0
passlib[argon2]
python-multipart
argon2-cffi
qrcode[pil]
PyJWT
python-dotenv
