fastapi
uvicorn[standard]
sqlalchemy==2.0.44
pydantic==2.12.5
email-validator==2.3.0
psycopg2-binary==2.9.11
boto3==1.35.0
passlib[argon2]==1.7.4
python-multipart
argon2-cffi==23.1.0
qrcode[pil]==7.4.2
PyJWT==2.8.1
